<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a id="main-title">Tech Blog</a>
        </h1>
        <nav>
            <a href="/" class="living">Home</a>
            {{#if loggedIn}}
              <a href="/dashboard">Dashboard</a>
              <button id="logout" class="living btn">Logout</button>
            {{else}}
              <a href="/login" class="living">Login</a>
            {{/if}}
          </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Dont be Evil
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>